{% extends "app/layout.html" %}

{% block content %}

</div>
</div>

<div class="container">
				<div class="about-grids">
								<div class="col-md-9 about-left">
									<h1>О нас</h1>
									<p>Основанная в 2008 году, Stack Overflow - это крупнейшее и наиболее доверенное интернет-сообщество для всех, кто хочет учиться, делиться своими знаниями и строить свою карьеру. Более 50 миллионов уникальных посетителей приходят в Stack Overflow каждый месяц, чтобы помочь решить проблемы с кодированием, развить новые навыки и найти работу.</p>
									<p> Партнеры Stack Overflow с предприятиями, чтобы помочь им понять, нанять, привлечь и включить мировых разработчиков. Наши продукты и услуги сосредоточены на маркетинге для разработчиков, рекламе, техническом рекрутинге и корпоративном обмене знаниями.</p>
										<ul>
											<li><a href="#"><span> </span>Наши достижения</a></li>
											<li><a href="#"><span> </span>Компании-партнёры </a></li>
											<li><a href="#"><span> </span>Наши проекты</a></li>
										</ul>
									<p>Мы сотрудничаем с пользователями нашего блога, вы так же можете поучаствовать в жизни этого проекта. Так же некоторые компании предоставляют нам список вакансий.</p>
									<ul>
											<li><a href="#"><span> </span>Сотрудничество с нами</a></li>
											<li><a href="#"><span> </span>Список вакансий</a></li>
											<li><a href="#"><span> </span>Вопросы и предложения</a></li>
										</ul>
									<p>      какой-то текст            </p>
								</div>
							</div>
						</div>
					</div>
					
		<!-- about-us -->
	<!--//End-About-->
<div  class="testimonials" id="testimonials">
			 <div class="wmuSlider example1">
		 	<div class="container-flueid">
			   <article style="position: absolute; width:64%; opacity: 0;"> 
				   	
					<div class=" cont span_2_of_3 client-main">
							<div class="slide-text">
									<p>В Массачусетском технологическом институте была разработана программа, 
                                    умеющая отличать фальшивую улыбку от искренней.
</p>
						  	<span> </span>
						 	</div>
						 	<div class="clearfix"> </div>  
					</div>
				</article>
				 <article style="position: absolute; width:64%; opacity: 0;"> 
				   	<div class=" cont span_2_of_3  client-main">
							<div class="slide-text">
								<p>Ответ в CAPTCHA формируется из большинства ответов пользователей, 
                                поэтому иногда она срабатывает, даже если символы введены неверно</p>
						  			<span> </span>
						 	</div>
						 	<div class="clearfix"> </div>  
					</div>
				 </article>
				 <article style="position: absolute; width:64%; opacity: 0;"> 
				   	<div class="cont span_2_of_3  client-main">
							<div class="slide-text">
									<p>Обычно человек моргает 20 раз в минуту. Однако, сидя за компьютером, 
                                он моргает втрое меньше — лишь 7 раз в минуту.
                                    </p>
						  	<span> </span>
						 	</div>
						 	<div class="clearfix"> </div>  
					</div>
				 </article>
		 					<script>
       				     $('.example1').wmuSlider();         
   					</script> 
                  	           	      
	         </div>
	     </div>
	 </div>
	 <!--//text-slider-->
	 <!--/start-Events-->
			<div class="leave-section">
				<div class="container">
					<h3>Прежде чем вы уйдёте</h3>
					<div class="Event-grids">
						<div class="col-md-3 leave-grid">
								<h4>Какая-то интересная новость о проекте</h4>
								<p>Morbi id felis porttitor tellus viverra 
								pulvinar. Vestibulum ante ipsum primi
								s in faucibus orci luctus et ultrices.
								Morbi id felis porttitor tellus viverra 
								pulvinar. Vestibulum ante ipsum prim
								is in faucibus orci luctus et ultrices </p>
						</div>	
						<div class="col-md-3 leave-grid">
								<h4>Предстоящее событие</h4>
								<p>Morbi id felis porttitor tellus viverra 
								pulvinar. Vestibulum ante ipsum primi
								s in faucibus orci luctus et ultrices.
								Morbi id felis porttitor tellus viverra 
								pulvinar. Vestibulum ante ipsum prim
								is in faucibus orci luctus et ultrices </p>
						</div>	
						<div class="col-md-3 leave-grid">
								<h4>Какое-то наше достижение</h4>
								<p>Morbi id felis porttitor tellus viverra 
								pulvinar. Vestibulum ante ipsum primi
								s in faucibus orci luctus et ultrices.
								Morbi id felis porttitor tellus viverra 
								pulvinar. Vestibulum ante ipsum prim
								is in faucibus orci luctus et ultrices </p>
						</div>	
						<div class="col-md-3 leave-grid">
								<h4> Список самых активных участников </h4>
								<p>Morbi id felis porttitor tellus viverra 
								pulvinar. Vestibulum ante ipsum primi
								s in faucibus orci luctus et ultrices.
								Morbi id felis porttitor tellus viverra 
								pulvinar. Vestibulum ante ipsum prim
								is in faucibus orci luctus et ultrices </p>
						</div>	
						<div class="clearfix"> </div>  		
					</div>	
				</div>
			</div>


{% endblock %}

{% block scripts %}
{% endblock %}